.container {
  height: 768px;
  position: relative;
}

.mainPicture {
  text-align: center;
}

.image {
  position: absolute;
  float: left;
}

img {
  width: 40rem;
}

.caption {
  position: absolute;
  float: right;
  top: 20rem;
  right: 20rem;
}

h1 {
  display: block;
}
