.container {
  height: 768px;
}

.mainPicture {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  height: 768px;
}

img {
  position: absolute;
  z-index: 1;
  width: 45rem;
  top: 3rem;
  left: 3rem;
}

.caption {
  position: absolute;
  left: 40rem;
  top: 13rem;
  font-weight: bold;
  font-size: 9rem;
  line-height: 169px;
  color: #514444;
}
