.container {
  height: 768px;
}

.mainPicture {
  position: absolute;
  left: 250px;
  top: 100px;
}

img {
  width: 45rem;
}

.caption {
  position: absolute;
  width: 474px;
  height: 338px;
  left: 870px;
  top: 300px;
}

.caption h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  line-height: 169px;
  color: #514444;

}
