.window {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    /* overflow-x: hidden; */
}

.container {
    margin: 20px auto;
    width: 600px;
    height: 100%;
    background: #ffffff;
    padding: 30px;
    box-shadow: 0px 39px 18px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    color: #514444;
}

.square {
    position: relative;
    width: 690px;
    height: 690px;
    right: -180px;
    border-radius: 30px;
    background: #f6cd5b;
    box-shadow: -10px 20px 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: rotate(42.58deg);
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 20px;
    height: 3rem;
    width: 25rem;
    border-radius: 10px;
    border: 0.5px #514444 solid;
    padding: 10px;
}

textarea {
    margin-bottom: 20px;
    width: 25rem;
    height: 6rem;
    border-radius: 10px;
    border: 0.5px #514444 solid;
    resize: none;
    padding: 10px;
}

label {
    display: block;
}

button {

    width: 200px;
    background: #d72d1f;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #f6cd5b;
}