h1 {
  color: #514444;
}

.container {
  background: #ffffff;
  width: 14rem;
  height: 17rem;
  border-radius: 2rem;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  position: relative;
  animation-duration: 0.5s;
  cursor: pointer;
}

.price {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
}

.image {
  width: 12rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.container[left="true"] {
  animation-name: slideToLeft;
}

.container[right="true"] {
  animation-name: slideToRight;
}

@keyframes slideToRight {
  from {
    left: 0px;
    opacity: 1;
  }
  to {
    left: 100px;
    opacity: 0;
  }
}

@keyframes slideToLeft {
  from {
    right: 0px;
    opacity: 1;
  }
  to {
    right: 100px;
    opacity: 0;
  }
}
