h1 {
  color: #514444;
}

.container {
  background: #ffffff;
  width: 14rem;
  height: 17rem;
  border-radius: 2rem;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  position: relative;
}

.price {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
}

.image {
  width: 12rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
