nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu {
  max-width: 1300px;
  width: 90%;
  margin: 1rem auto 0 auto;
  background: #f6cd5b;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  height: 2.8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.menu-group {
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu ul {
  list-style: none;
}

.menu ul li a {
  display: block;
  margin: 0 1rem 0 1rem;
  text-decoration: none;
  color: #514444;
}

.logo {
  z-index: 1;
  top: -4rem;
  left: 2rem;
  position: absolute;
  background: #d72d1f;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.logo h1 {
  position: absolute;
  color: #f6cd5b;
  font-size: 1.5rem;
  top: 3.2rem;
  left: 1.4rem;
  font-family: "Ubuntu Condensed", sans-serif;
}
