.footer {
  text-decoration: none;
  text-align: center;
  width: 100vw;
  height: 246px;
  overflow: hidden;
  padding: 30px 0px;
  box-sizing: border-box;
  background-color: #423b42;
}

.hotlines {
  margin-top: 20px;
  width: 25%;
  float: left;
}

.socmed {
  width: 50%;
  float: left;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.socmed ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socmed ul li {
  list-style: none;
  margin: 0 15px;
  font-size: 70px;
  padding: 20px 0 0 0;
}

.socmed ul li a {
  color: black;
}

.socmed ul li .fa:visited {
  text-decoration: none;
}

.logofooter {
  width: 25%;
  float: left;
  top: -4.5rem;
  left: 10%;
  position: relative;
  background: #d72d1f;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.logotext {
  position: absolute;
  color: #f6cd5b !important;
  font-size: 1.5rem;
  top: 3rem;
  left: 1.4rem;
  font-family: "Ubuntu Condensed", sans-serif;
}

.footer h2 {
  color: #e9ca1d;
  padding: 15px 0 0 0;
}

.footer h1 {
  color: white;
}

.footer p {
  color: white;
  padding: 20px;
}

.rec-container {
  max-width: 1200px;
  height: 246px;
  position: relative;
  margin: 0 auto;
}

.rec1 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 240px;
  top: -87px;

  background: #f6cd5b;
  border-radius: 30px;
  transform: rotate(22.63deg);
}
.rec2 {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 100px;
  bottom: -30px;

  background: #f6cd5b;
  border-radius: 30px;
  transform: rotate(22.63deg);
}

i {
  color: #ffffff;
}
