/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background-color: #f9f3e9;
  font-family: "Work Sans", sans-serif;
}
